In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.master("local[*]").appName("test").getOrCreate()

24/03/07 23:04:56 WARN Utils: Your hostname, avalon resolves to a loopback address: 127.0.1.1; using 192.168.18.2 instead (on interface eth0)
24/03/07 23:04:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/07 23:05:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet("data/pq/green/*/*")
df_yellow = spark.read.parquet("data/pq/yellow/*/*")

In [3]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- extra: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- ehail_fee: float (nullable = true)
 |-- improvement_surcharge: float (nullable = true)
 |-- total_amount: float (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: float (nullable = true)

In [4]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- extra: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- improvement_surcharge: float (nullable = true)
 |-- total_amount: float (nullable = true)
 |-- congestion_surcharge: float (nullable = true)

In [5]:
df_green = df_green.withColumnRenamed(
    "lpep_pickup_datetime", "pickup_datetime"
).withColumnRenamed("lpep_dropoff_datetime", "dropoff_datetime")

df_yellow = df_yellow.withColumnRenamed(
    "tpep_pickup_datetime", "pickup_datetime"
).withColumnRenamed("tpep_dropoff_datetime", "dropoff_datetime")

In [6]:
common_columns = [col for col in df_green.columns if col in df_yellow.columns]
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [7]:
df_green_sel = df_green.select(common_columns).withColumn(
    "service_type", F.lit("green")
)
df_yellow_sel = df_yellow.select(common_columns).withColumn(
    "service_type", F.lit("yellow")
)

In [8]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [9]:
df_trips_data.groupBy("service_type").count().show()

+------------+---------+
|service_type|    count|
+------------+---------+
|       green|  8348567|
|      yellow|124048218|
+------------+---------+

In [12]:
df_trips_data.createOrReplaceTempView("trips_data")

In [23]:
spark.sql(
    """
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY
    service_type
"""
).show()

+------------+---------+
|service_type| count(1)|
+------------+---------+
|       green|  8348567|
|      yellow|124048218|
+------------+---------+

In [27]:
df_result = spark.sql(
    """
SELECT
    -- Reveneue grouping
    PULocationID AS revenue_zone,
    date_trunc("month", pickup_datetime) AS revenue_month,
    service_type,

    -- Revenue calculation
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance
FROM
    trips_data
GROUP BY
    revenue_zone, revenue_month, service_type
"""
)

In [28]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|         120|2019-01-01 00:00:00|       green|   838.5900001525879|                  5.5|                   18.0|        15.140000104904175|          11.520000457763672|                   10.200000405311584|           898.9499971866608|                                 0.0|         1.1481481481481481|        4.075370382379602|
|          27|2019-04-01 00:00:00|       green|  225.39999771118164|                  2.0|                    3.0|                       0.0|            9.15999984741211|                   1.8000000715255737|           241.3600025177002|                                 0.0|         1.6666666666666667|        4.955000082651774|
|          33|2019-01-01 00:00:00|       green|   206341.1100101471|               4589.5|                 7347.5|         23313.72999643348|           595.1500196456909|                    4260.000169277191|          247294.83869099617|                                 0.0|          1.318891280947255|       3.3362190530931657|
|         165|2019-01-01 00:00:00|       green|   34624.15002441406|                202.0|                  846.0|         96.93000082857907|           875.9300320520997|                    412.5000163912773|           37093.80985689163|                                 0.0|         1.4114888628370457|        5.185275500333471|
|         234|2019-03-01 00:00:00|       green|               316.0|                  7.0|                   14.0|        41.449999928474426|          17.280000686645508|                     8.40000033378601|          474.13000297546387|                                70.0|                        1.0|         2.51142856957657|
|         140|2019-03-01 00:00:00|       green|   93.05999946594238|                  3.5|                    4.0|         16.21999990940094|                         0.0|                   2.1000000834465027|           136.6299991607666|                               17.75|                       1.25|       2.2225000571925193|
|         130|2019-04-01 00:00:00|       green|  129121.58000278659|               3781.0|                 4500.0|         11705.07998826541|           992.4899864196777|                   2662.2001057863235|           152985.4992702026|                  220.30000001192093|         1.0913015324843514|       3.6271497940621704|
|         192|2019-01-01 00:00:00|       green|   9284.590005874634|                 65.0|                  173.5|        387.02000057697296|          174.96000695228577|                    91.80000364780426|          10189.619899749756|                                 0.0|         1.2172949002217295|        5.723747223516526|
|          89|2019-02-01 00:00:00|       green|   62788.55001449585|                491.5|                 1502.0|         623.1400013752282|          1535.9300587177277|                    715.2000284194946|           67888.61963176727|                               112.5|         1.3823240589198036|        5.283374795447517|
|         189|2019-02-01 00:00:00|       green|  21262.669996261597|                488.0|                  745.5|        1539.6900021657348|           77.76000308990479|                    411.6000163555145|           24972.71987438202|                              283.25|         1.3229649238914627|        3.265883524622953|
|         222|2019-02-01 00:00:00|       green|  31101.589945793152|                 96.0|                  534.5|        14.730000019073486|           926.9900356531143|                    176.1000069975853|          32854.609743118286|                                2.75|         1.2144846796657383|        8.723101204686635|
|         123|2019-04-01 00:00:00|       green|  11665.299987792969|                116.5|                  317.5|        120.36000010371208|          195.00999641418457|                    174.0000069141388|          12606.319922685623|                               19.25|         1.4094368340943684|        4.162709285957311|
|          93|2019-04-01 00:00:00|       green|   32854.89999771118|                578.5|                  569.5|         4959.349998898804|           1522.419976234436|                   340.50001353025436|           41434.11964344978|                               684.0|         1.5953177257525084|         8.33301001886236|
|          68|2019-04-01 00:00:00|       green|               379.5|                  7.5|                   15.0|         62.27999949455261|          12.239999771118164|                    9.000000357627869|           560.5199975967407|                                75.0|                        1.0|       2.4963333209355674|
|          89|2019-01-01 00:00:00|       green|   65948.99003696442|                486.5|                 1583.5|         721.1699993107468|          1635.7300639152527|                    742.8000295162201|           71265.98959422112|                                 0.0|         1.3482556344550787|        5.280669961407017|
|         259|2019-01-01 00:00:00|       green|    20284.8299741745|                100.0|                  366.5|         51.25999988056719|           717.5400273799896|                   148.50000590085983|          21676.429826259613|                                 0.0|         1.3553162853297442|        8.448452235198257|
|          91|2019-01-01 00:00:00|       green|   48008.67004394531|                270.5|                 1119.5|          136.619999229908|          1178.2700452804565|                    514.8000204563141|          51249.809685468674|                                 0.0|         1.3326000879894413|         5.50521777621874|
|          63|2019-02-01 00:00:00|       green|  12353.920011520386|                 56.5|                  231.5|         17.26999975182116|           340.0900127887726|                    85.80000340938568|          13102.979928731918|                                11.0|         1.2494714587737843|        7.326849892877247|
|          66|2019-01-01 00:00:00|       green|  147515.27999687195|               4218.5|                 5017.0|         23186.58998704143|          109.08000135421753|                    2985.600118637085|          183621.19907784462|                                 0.0|         1.3593133385951066|        3.656329913111881|
|         141|2019-01-01 00:00:00|       green|                59.0|                  5.5|                    4.5|         6.989999949932098|                         0.0|                   2.7000001072883606|           78.69000053405762|                                 0.0|         1.2222222222222223|        1.204444448153178|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [29]:
df_result.write.parquet("data/report/revenue")